.text-center{
    padding-top: 30px;
}
.text-description{
    font-size: 25px;
    text-align: center;
    margin-top: 35px;
    margin-bottom: 40px;
}
.sweet-img{
    border-radius: 50%;
    height: 200px;
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}
.card-body{
    height: 530px;
    width: 350px;
    margin: 23px;
    border-radius: 20px;
}
.card-text{
    font-size: 20px;
    margin-top: 25px;
}
.flex-container{
    display: flex;
    flex-wrap: wrap;
}

.buy-btn{
    width: 120px;
    margin-top: 40px;   
}

